<VirtualHost *:80>
    Redirect / https://{{ site.full_domain_name }}/
</VirtualHost>

<VirtualHost *:443>
    Redirect / https://{{ site.full_domain_name }}/
    SSLEngine on
    SSLCertificateFile /etc/pki/tls/certs/{{ cert_file_base }}.crt
    SSLCertificateKeyFile /etc/pki/tls/private/{{ cert_file_base }}.key
</VirtualHost>
